.sendmsg{
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}
.sendmsg-field{
    margin: 60px 0px 100px 0px;
    box-shadow: 0 0px 20px lightgray;
    border-radius: 20px;
}
.sendmsg-to{
    width: 330px;
    font-size: 18px;
    padding: 5px;
    background-color: #00df82;
    border-radius: 20px 20px 0px 0px;
}
.sendmsg-field textarea{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    min-width: 300px;
    max-width: 300px;
    min-height: 100px;
    max-height: 100px;
    margin: 10px;
    border: none;
    outline: none;
    resize: none;
}
.sendmsg-obi{
    text-align: left;
    font-size: 25px;
    font-family: "Kaushan Script", cursive;
}
.sendmsg-btn button{
    width: 90%;
    border: none;
    margin: 10px 0px;
    background-color: black;
    padding: 10px 0px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    border-radius: 10px;
}
.sendmsg-btn :hover{
    background-color: #00df82;
}
.get-account{
    /* width: fit-content;
    background-color: red; */
}
.get-account button{
    width: 95%;
    padding: 30px 5px;
    margin-top: 50px;
    font-weight: bold;
}